<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SSR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\FLM\Assemblies"></probing>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Swtch" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Driver" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SSR.Properties.Settings>
      <setting name="StopSequence" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopSequenceAfter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogFileFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogFileSeparator" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileProjectName" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileTesterID" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileHeaderFileds" serializeAs="String">
        <value />
      </setting>
      <setting name="TealFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="TealStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TealConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="TealStoredProcedure" serializeAs="String">
        <value />
      </setting>
      <setting name="TealTesterID" serializeAs="String">
        <value />
      </setting>
      <setting name="TealLineID" serializeAs="String">
        <value />
      </setting>
      <setting name="PCBTestedUnits" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCBPassedUnits" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCBFailedUnits" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCBYield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCBStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptoStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox1Status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox2Status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox3Status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox4Status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBox5Status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiagnosticDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="iTac" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StationName" serializeAs="String">
        <value>BKD000LEKMAR001</value>
      </setting>
    </SSR.Properties.Settings>
  </userSettings>
</configuration>
